*.o
*.a
*~
*.obj
*.tlog
*.log
*.exe
*.filters
*.user
*.cop
*.suo
*.sln
*.sdf
*.docx
GitCommitInstructions.txt
docs
BaseClassLib/Tools/Debug
BaseClassLib/Tools/Release
GenerateSmartNotices/Debug
GenerateSmartNotices/Release
TestAnalysisDirectoryLCv2.11/Debug
TestAnalysisDirectoryLCv2.11/Release
OsirisLib2.01/Release
OsirisLib2.01/Debug
ProcessResiduals/Debug
ProcessResiduals/Release
MessageBook/OldMessageBooks
OsirisXML/LadderSpecifications/*Bins*Panels
OsirisXML/LadderSpecifications/OldIlsAndLadderAndKitColors
ResdiualDataFromISP
*ipch
libxml2-2.7.7
libxslt-1.1.26