*.pdb
*.tlog
*.obj
*.log
*.pch
*.sdf
*.user
*.exe
*.manifest
*.lastbuildstate
*.idb
*.lnk
*.suo
*.vbs
*.filters
*.cop
*.opensdf
UpgradeLog.XML
GitCommitInstructions.txt
Debug
BaseClassLib/Tools/Debug
BaseClassLib/Tools/Release
GenerateSmartNotices/Debug
GenerateSmartNotices/Release
TestAnalysisDirectoryLCv2.11/Debug
TestAnalysisDirectoryLCv2.11/Release
OsirisLib2.01/Release
OsirisLib2.01/Debug
ProcessResiduals/Debug
ProcessResiduals/Release
MessageBook/OldMessageBooks
OsirisXML/LadderSpecifications/*Bins*Panels
OsirisXML/LadderSpecifications/OldIlsAndLadderAndKitColors
BuildStandardControlFile/Debug
BuildStandardControlFile/Release
ResdiualDataFromISP
Common.xsd
Documentation/ABIF_File_Format.pdf
Documentation/Using RT.docx
Documentation/geneprint 10 system protocol.pdf
GenerateLadderFile/Common.xsd
GenerateLadderFile/LabSettingsV4.xsd
GenerateLadderFile/StandardSettingsV4.xsd
LabSettingsV4.xsd
*ipch
_UpgradeReport_Files
GenerateLadderFile/GenerateLadderFile/LadderInputFile.txt
GenerateLadderFile/GenerateLadderFile/Release/GenerateLadderFile.vcxprojResolveAssemblyReference.cache