*.pdb
*.tlog
*.obj
*.log
*.pch
*.sdf
*.user
*.exe
*.manifest
*.lastbuildstate
*.idb
*.lnk
*.suo
*.vbs
*.css
*.gif
*.filters
*.cop
*.opensdf
UpgradeLog.XML
GitCommitInstructions.txt
docs
Debug
BaseClassLib/Tools/Debug
BaseClassLib/Tools/Release
GenerateSmartNotices/Debug
GenerateSmartNotices/Release
TestAnalysisDirectoryLCv2.11/Debug
TestAnalysisDirectoryLCv2.11/Release
OsirisLib2.01/Release
OsirisLib2.01/Debug
ProcessResiduals/Debug
ProcessResiduals/Release
MessageBook/OldMessageBooks
OsirisXML/LadderSpecifications/*Bins*Panels
OsirisXML/LadderSpecifications/OldIlsAndLadderAndKitColors
ResdiualDataFromISP
*ipch
_UpgradeReport_Files